.imperio {
    background-color: red;
}
  
 
.rebeldes {
    background-color: blue;
}

#vader {
    font-size: 1.5em;
}

#luke {
    font-style: italic;
}

.soldado {
    border: 3px dashed black;
    padding: 5px;
    margin-bottom: 5px;
}
  
.espaciado {
    letter-spacing: 2px;
}
  
.apoyo {
    text-align: center;
}
  
.nave {
    text-transform: uppercase;
}
  